Attachment sync

i do not  have the infrastructure to test, but are the task attachments synced, either between this app or other apps as well? If not can/will it be synced via WebDav?

Attachments are not currently synchronized, but this is something I want to look in to

+1 would love to see more key CalDav standard features getting implemented. 

Found [CalDAV Managed Attachments](https://tools.ietf.org/id/draft-ietf-calext-caldav-attachments-03.html) after a quick search, does it sound like a reasonable thing we can expect on most CalDAV servers? Or is there a newer/more widespread version of it?

Thanks for the link, I had not heard of this extension before. I still haven't looked into attachments yet but I'm hoping to soon.

Since https://github.com/sabre-io/dav/issues/837 is still open I assume this is not supported by Nextcloud

Latest version: [rfc8607](https://tools.ietf.org/html/rfc8607)

> Latest version: rfc8607

Ah, thank you.

They do mention that the standard in CalDAV (which I'm not too familiar with, unfortunately) is an `ATTACH` property ([RFC4791, §8.5](http://www.webdav.org/specs/rfc4791.html#rfc.section.8.5) and [RFC2445, §4.8.1.1](https://tools.ietf.org/html/rfc2445#section-4.8.1.1)), which is guaranteed to be supported everywhere. This sounds like a safe bet for a first implementation, with the caveat that large files could possibly not be uploaded properly depending on the server's maximum request limit.

As far as I can tell Radicale does not support the extended version in RFC8607, I created https://github.com/Kozea/Radicale/issues/1117 to get more info (but possibly I could add it as a plugin).

Cyrus Imap offers the Managed Attachments as server and I can offer test account : user aaa@aegee.org server mail.aegee.org secret abc .

I'm the one responsible for the mention 30 minutes ago! Attachments from Tasks.org towards a CalDav server is becoming an increasingly important part of my GTD WorkFlow, hence the mention. 

Is there any way I might help, @abaker? I'm two months into finishing my studies, and maybe, if time and skills permit, I can lend a helping hand.

* Ideally Tasks would support RFC 8607, but I'm not aware of any servers that implement this
* Tasks could sync inline binary in the `ATTACH` field, but there are a couple issues:
  - The binary data has to be transferred every time the task is modified
  - Tasks currently stores the raw VTODO data in its SQLite database. This VTODO data would need to be moved to files on disk because inline binary is going to cause query issues
* `ATTACH` can also be a URI, so perhaps this can be used to reference files on a WebDAV server

Cyrus Imap supports [RFC 8607 -Managed Attachments](https://tools.ietf.org/html/rfc8607).  I can provide you with access to a running server (user aaa@aegee.org password abc ).  Managed Attachments does solve the transfer all content on each update problem, but causes a different problem: no client supports managed attachments.

So ideally the CUA should ask the user if she wants complete `ATTACH` transfer on each update, or Managed Attachments. However if the server does not announce managed attachments, there shall be no such question.

`ATTACH` as URI is a completely different, missing feature.

Any news on this? I really would like to be able to take and attach a picture in stead of writing "a million words" about some real life object that the task is about. I can, and it's great - until I need it on a different device.

_I'm using 12.6.1 from Fdroid and I sync with Tasks.org + Nextcloud CalDAV via DAVx5._

I did fix this blocker:

> Tasks currently stores the raw VTODO data in its SQLite database. This VTODO data would need to be moved to files on disk because inline binary is going to cause query issues

But haven't looked into `attach` yet

Just tested: Kontact+Nextcloud=Attachment Sync 
inline and as URI.
Would love to have it also in Tasks!