Managing subtasks broken for EteSync accounts

I have setup Tasks.org to sync an account that I setup through the EteSync application. When I create a task in Tasks.org and add subtasks, they become independent top-level tasks (i.e. no longer subtasks) as soon as I synchronise. This is a massive problem for me, since I organise my weekly shopping in this way (e.g. task "Shopping 2020/49" and subtasks for the items): I now have dozens and dozens of items floating around in my list, completely without any order.

# Possibly related problems

One such top-level task ("Shopping 2020/47") was duplicated. Moving (completed) tasks from one of the duplicated top-level tasks to the other has the effect that they will be gone from both. One top-level task that I created for this week (i.e. named "Shopping 2020/49") vanished right after synchronising. I created another one with the same name and it is still there. Only the latter I can still see in the EteSync app's journal.

# Time this started happening

This behaviour started roughly at the same time I migrated my account to EteSync 2 (between weeks 2020/42 and 2020/47, during which I did not create new tasks). Tasks that existed since before the migration appear to be unaffected. (Or are they just unaffected, because I do not touch them anymore?)

# How I create tasks

My top level tasks are named "Shopping YYYY/WW" and have the tag "Shopping" and a due date set. Mostly I create them with subtasks right away. But even when moving other top-level tasks into them to make them subtasks shows the same buggy behaviour.

# Other behaviour I noticed

When synchronising Tasks.org (go to top of list and pull down), I see the spinner display briefly, then about a second without and then it display again twice in quick succession (spinning for a few milliseconds, maybe a millisecond without spinner, then spinning again for a few milliseconds).

In EteSync's journal I can see the "raw" version of historic subtasks (i.e. older revisions). They carry a `RELATED-TO;RELTYPE=PARENT:<decimal number>` field. According to [RFC 5545 Section 3.8.4.5](https://tools.ietf.org/html/rfc5545#section-3.8.4.5) this should be the UID of the parent item. But the parent item has a UUID in their UID field, not a decimal number. The latest revision of the subtask does not carry that `RELATED-TO` field anymore.

I am also affected by the bug affecting setting tags in Tasks.org: etesync/android#159

This issue was originally reported against EteSync: etesync/android#161, @tasn was able to reproduce it.

# Versions

Tasks.org 10.4.1, EteSync 2.1.5. I upgraded EteSync to 2.2.0 and the behaviour was still reproducible. I updated it to 2.2.1 and it is still reproducible.

Thanks for the report. This is going to be fixed by the next EteSync release. Additionally, Tasks v11.0 now supports EteSync v2

The EteSync 2.2.3 update just arrived on F-Droid. After installing it, I synchronised EteSync, then I synchronised Tasks.org (using version 11.0), then I tried to move the subtasks that were forced out of their parent back into it and synchronised Tasks.org. The subtasks were moved out of their parent again. This is not fixed, yet.

I'm still seeing the due date issue (which I think depends on the next version of tasks.org), are these related?

What is the due date issue? I don't remember that one

Sorry, I'm a bit tired. :man_facepalming: 
I meant the hide until issue. That the hide until is being reset the first time you create a task because both tasks.org and etesync use the sync_id field.

Oh, yes, the disappearing non-synchronized field issue isn't fixed until 11.0.1 which hasn't been built by f-droid yet. I didn't think they were related but it is possible. I will try to do some more testing when I get a chance.

So I wonder if they are related. I guess we will see with 11.0.1.

Tasks.org 11.0.1 arrived on F-Droid. I can happily confirm: It fixes the problem.