End of month recurrence

From [RFC5545 section 3.3.10](https://tools.ietf.org/html/rfc5545#section-3.3.10)

> Recurrence rules may generate recurrence instances with an invalid
      date (e.g., February 30) or nonexistent local time (e.g., 1:30 AM
      on a day where the local time is moved forward by an hour at 1:00
      AM).  Such recurrence instances MUST be ignored and MUST NOT be
      counted as part of the recurrence set.

Over the years I have received a few complaints about monthly recurring tasks scheduled for 1/29 or 1/30 skipping February, but this seems to be the intended behavior according to the spec. This behavior is also consistent with Google Calendar

Tasks currently contains a hack for repeating on the last day of the month (e.g. Jan 31 -> Feb 28 -> Mar 31), but this means any monthly repeats on the 28th, 29th, or 30th will eventually shift to the end of the month.

I don't know the best way to handle this so I'm just leaving it open for discussion. Any hack to address this, like the existing end-of-month hack, will not be interoperable with other iCalendar clients.