[DAVx⁵ + EteSync] 'start date' can't be set to 'due date' or 'due time'

The 'start date' setting disappears when it is set to 'due date' or 'due time' after synchronizing with etesync.
(It's not even possible to set the start date (hide until) and the due date to the same date in the etesync web client)

From [section 3.8.2.3 of RFC 5445](https://tools.ietf.org/html/rfc5545#section-3.8.2.3)

> For cases where this property is specified in a "VTODO" calendar component that also
> specifies a "DTSTART" property ... the value of this property MUST be later in time 
> than the value of the "DTSTART" property.

Unfortunately this is enforced by the ical4android library used in DAVx5 and the EteSync client. I forked ical4android and relaxed this restriction from `start < due` to `start <= due` for Tasks' native CalDAV and EteSync support.

The EteSync web UI appears to only enforce this rule when you have an all-day task. If you set a time on your task it lets you set the hide until to the same time

I read this issue before opening #1328. 

The original report here is quite vague. I can imagine multiple scenarios intended to be conveyed by it.

In your response above, you explain how you already forked ical4android to prevent the reported issue in Tasks and also explain how to work around the mentioned limitation by not using 'all-day' tasks from the Eetesync side. Hence I thought this issue was about trying to get the 'due time' into Tasks from Etesync, which would be a completely different scenario as I reported in #1328.



Sorry, to further explain, when DAVx5 or the EteSync client reads data from Tasks' OpenTask content provider during the sync process, ical4android is going to [clear the start date](https://gitlab.com/bitfireAT/ical4android/-/blob/7df4614280fc7f138920a8170b0808b5e4b8abf3/src/main/java/at/bitfire/ical4android/Task.kt#L148) if it violates this rule from the iCalendar spec.

The EteSync web UI appears to partially enforce this rule, which may or may not be intentional (@tasn?)

I forked ical4android to [loosen this restriction](https://gitlab.com/abaker/ical4android/-/commit/6ccdb1af03611cfb2f6d5ed1ba34ec203f1f2d92) when Tasks is performing the synchronization. To set this up, de-select your task lists from DAVx5/EteSync client to remove them from Tasks, then tap `☰ > Settings`, tap `Not signed in` (or `Add account`), select `CalDAV` or `EteSync`, and enter your credentials.

I need to update the edit screen to prevent users from setting start date equal to due date if the task is synchronized with DAVx5 or the EteSync client

If I understand your instructions correctly your suggestion is to:
1. disable the synchronization of all task lists in the Etesync app itself
2. log in to Etesync in the Tasks app itself
Because then, the sync would not go via the EteSync app (and clear the start date), but rather through the EteSync interface in Tasks, which would not clear the start date.

However, there is no selective sync in the EteSync app for Android. You can either sync everything or nothing.
As I also have to sync my contacts to my phone via EteSync and the EteSync app is the only option to do so, this workaround seems impossible to implement, as it would force me to uninstall the EteSync app.

I have downgraded Tasks to 11.2.2 for now, since it still works. From the end-user perspective 11.3 renamed a field and broke functionality for everyone using DAVx5 or the EteSync app. Is disabling a feature which seemed to work perfectly fine before, really the best option here?

Ah sorry about that! I forgot that EteSync does not support selective sync, and will also sync with Tasks even if you don't choose it in the settings. I will discuss this with @tasn

The reason for the change was that hide until was, in my opinion, analogous to a start date (#984), but it would have been far too complicated to support start dates *and* hide until dates.

Tasks will ignore the EteSync app's data if native EteSync support is set up first. I'll update Tasks to ignore the EteSync app's data if native EteSync support is added second as well. But for now you would have to 1) add your EteSync account directly to Tasks, then 2) remove and re-add your EteSync account to the EteSync app

@abaker, it's maybe a horrible hack, but why not always set due date to be start date + one second? I mean, we can go and relax this requirement all around the etesync clients but that would make us non-standard and will break interoperability. I think it would be better to just workaround this standard limitation with the start date + 1 suggested above. This will also fix it with DAVx5.

As for not being able to disable tasks.org sync in EteSync: yeah, people have been asking for this. The "correct" way of doing it is just revoking the EteSync app's permissions, though that's terrible. :P

Side note: I definitely agree that start date and hide until are the same. That's what we do in EteSync land too.

I will add the same hack to Tasks

If you remove the permission the EteSync client's data will be stuck in Tasks (I removed the ability to manually delete OpenTask accounts), and EteSync will pop up a permission request notification on every sync

> Ah sorry about that! I forgot that EteSync does not support selective sync, and will also sync with Tasks even if you don't choose it in the settings. I will discuss this with @tasn
> 
> The reason for the change was that hide until was, in my opinion, analogous to a start date (#984), but it would have been far too complicated to support start dates _and_ hide until dates.
> 
> Tasks will ignore the EteSync app's data if native EteSync support is set up first. I'll update Tasks to ignore the EteSync app's data if native EteSync support is added second as well. But for now you would have to 1) add your EteSync account directly to Tasks, then 2) remove and re-add your EteSync account to the EteSync app

Thank you, that worked perfectly!
1. made sure I was logged into EteSync in Tasks
2. removed my EteSync account in the EteSync app
3. updated the Tasks app back up to the most recent version on Fdroid (11.3)
4. opened Tasks and added a new task
5. confirmed the task showed up in pim.etesync[.]com
6. logged into the EteSync app again
7. confirmed contacts are syncing again in the phone app
8. created a task with start time == due time in Tasks and confirmed it also popping up in pim.etesync[.]com and not losing the start time in Tasks

It's definitely something we need to fix in EteSync then. We should probably change the toggle to let you disable the OpenTasks protocol altogether (rather than choose between tasks.org and opentasks).

Start times will be synchronized one second before due times (385aa08a2d9faae7f7153353d4a44db82675778f)

The ugly hacks we have to resort to sometimes, haha. :P